#container_contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    border-radius: 15px;
    margin-top: 30px ;
    height: 100vh;
    align-items: center;
}


.contend{
    display: flex;
    padding-left: 10px;
    height: 80%;
    gap: 10px;
}

.my_contact{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    width: 45%;
    height: 70%;
    align-items: center;
    gap: 10px;
    border-style: groove;
    border-color: aquamarine;
    border-radius: 5px;
}

.input_contact{
    display: flex;
    width: 92%;
    height: 10%;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
    border-color: aquamarine;
}


.imagens_show{
    display: flex;
    width:50%;
    height: 70%;
    padding: 5px;
}

.img_1{
    width: 0%;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
    border-radius: 5px;
    border-style: groove;
    border-color:aqua;
}

.img_1:hover{
    cursor: crosshair;
    width: 50%;
    opacity: 1;
    filter: contrast(120%);

}